﻿@{
    ViewBag.Title = "Home Page";
}

<div id="bodyContainer" ng-app="AGLApp">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="flip-container text-center col-md-12 pull-left" ng-controller="PetsController">
                    <table ng-repeat="gender in PetsByOwnerGender">
                        <tr>
                            <td>{{gender.Gender}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-10 col-md-offset-2 pull-left">
                                <ul>
                                    <li ng-repeat="petName in gender.PetNames">
                                    {{petName}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
   

}